@import url(../global2.css);


.alerta-grid p {
    color: var(--subtext);
}
.alerta-grid .material{
    color: var(--subtext);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.alerta-grid > div:last-child{
    display:flex;
    align-items:center;
    justify-content:center;
}