@import url(../global.css);



body {
    /* grid-auto-flow: row;
    align-items: center; */
    width: 100%;
}

.card-p {
    /* background-color: var(--card-background); */
    padding: 50px;
    /* border-radius: 25px; */
    color: var(--input-focused);
    box-shadow: var(--shadow1) 0px 0px 0px 1px,
                var(--shadow2) 0px 1px 1px -0.5px,
                var(--shadow2) 0px 3px 3px -1.5px,
                var(--shadow2) 0px 6px 6px -3px,
                var(--shadow1) 0px 12px 12px -6px,
                var(--shadow1) 0px 24px 24px -12px;
}
