@import url(../global2.css);

section {
    height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
    
}

.tbl .acao{
  font-size: 13px;
  font-weight: 700;
  border: 2px solid var(--accent);
  border-radius: var(--radius-sm);
  padding: 2px 16px;
  vertical-align: middle;
}

.tbl .editar{
  display: flex;
  align-items: center;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  border-radius: var(--radius-sm);
  padding: 2px 16px;
  vertical-align: middle;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pagination a, .pagination span {
    display: flex;
    align-items: center;
    background-color: var(--card);
    padding: 2px 4px;
    height: 50px;
    
}

.gestao-card .material{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.493);
}



.button-form{
    width: 3rem;
    height: 3rem;
    background: var(--accent-grad-btn);

}

#container-registro{
    display: none;
}
a:focus + #container-registro{
    display: block;
}
.card-form{
    background:  var(--subcard) ;
}

input:focus {
    background-color: transparent;
    border: 3px solid var(--input-unfocused);
}

.input-group select {
  padding: 14px 12px;
  border: 1px solid var(--input-unfocused); 
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}

/* mobile

/* select escondido no desktop
.registro-mobile{
    display: none;
    margin-bottom: 1rem;
} */

/* cards */
/* .registro-card{
    display: block;
} */

/* CELULAR */
@media (max-width: 768px){
    h2{
        font-size: 12px;
    }

    .registro-mobile{
        display: block;
    }

    .registro-mobile select{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 2px solid var(--input-unfocused);
        font-size: 16px;
    }

    /* esconde todos os cards inicialmente */
    .registro-card{
        display: none;
    }

}