@import url(../global.css);

section {
    width: 100%;
    
}

section .button-grid a {
    max-width: 16.2rem;
    height: 9rem;
}

section .grid{
    /* width: 40vh; */
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-radius: none;
}
section .grid-1x, .grid-1x-10px {
    justify-content: space-between;
}
#container-registro{
    display: none;
}
a:focus + #container-registro{
    display: block;
}
.card-form{
    background:  #90ffa3be ;
}

input:focus {
    background-color: transparent;
    border: 3px solid var(--input-unfocused);
}

.input-group select {
  padding: 14px 12px;
  border: 2px solid var(--input-unfocused); 
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.check{
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(174, 0, 255);
}
