@import url(../global.css);

/* body {
    padding: 3vw;
    height: 100vh;
    background-color: brown;
}

canvas {
    width: 100% !important;
    height: 275px !important;
}

label{
    font-size: 18px;
} */
section {
    border: 1px solid black;
    width: 100%;
    
}
section .card {
    background-color: rgb(255, 0, 179);

}
section .grid{
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    border-radius: none;
}
section .grid-1x, .grid-1x-10px {
    justify-content: space-evenly;
}


