@import url(../global2.css);

.card-docs  .material{
   font-size: 32px;
}
.card-docs button{
   font-size: medium;
}
.card-docs .cln-btn{
    color: var(--card);
    font-weight: 700;
    letter-spacing: 0.8px;
}
button{
    background: none;
}
