@import url(../global.css);

body {
    padding: 3vw;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-section {
    margin-right: 2.5vw;
    height: 100%;
    width: 400px;
    max-width: 90vw;
}

.image-card {
    margin-left: 2.5vw;
    height: 100vmin;
    max-height: 400px;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    background-color: var(--image-card-background);
}

@media only screen and (max-width: 850px) {
    body {
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .login-section {
        margin-right: 0;
    }

    .card {
        border-radius: 25px 25px 0px 0px;
    }

    .image-card {
        margin-left: 0;
        border-radius: 0px 0px 25px 25px;
        background-color: var(--card-background);
    }
}