@import url(input.css);
@import url(buttons.css);
@import url(cards.css);
@import url(table.css);
@import url(grid.css);
@import url(icons.css);
@import url(menus.css);

:root {
    color-scheme: light dark;

    --background: light-dark(#e8e8f1, #1c232b);
    --card-background: light-dark(white, #28343a);
    --image-card-background: light-dark(white, #77b689);

    --common-hover: light-dark(#435b72, #55a06a);
    --common-press: light-dark(#1a3c63, #21833d);

    --subcard-hover: light-dark(#d3d3df, #374e4a);

    --link: light-dark(#2e8447, #77b689);

    --input-unfocused: light-dark(#a4c2ad, #7a8987);
    --input-focused: light-dark(#28343a, #e7f7ec);

    --button: light-dark(#28343a, #92e2a9);
    --button-text: light-dark(white, black);

    --inactive-background: light-dark(rgb(186, 0, 40), rgb(232, 111, 137));
    --inactive-text: light-dark(rgb(255, 228, 228), rgb(75, 20, 20));
    --idle-background: light-dark(rgb(209, 143, 0), rgb(241, 221, 112));
    --idle-text: light-dark(rgb(255, 247, 229), rgb(75, 58, 20));
    --active-background: light-dark(rgb(4, 142, 66), rgb(130, 235, 130));
    --active-text: light-dark(rgb(230, 255, 230), rgb(20, 75, 20));

    --shadow1: light-dark(rgba(14, 63, 126, 0.04), rgba(11, 141, 85, 0.04));
    --shadow2: light-dark(rgba(42, 51, 70, 0.04), rgba(0, 0, 0, 0.04));
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    display: flex;
    background-color: var(--background);
}

h1, h2, h3, h4, p {
    color: var(--input-focused);
}

h5, h6 {
    color: var(--input-unfocused);
}

@media (max-width: 500px) {
    *:not(h1, h2, h3, h4, h5, h6) {
        font-size: small;
    }
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}