.grid {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: start;
    border-radius: none;
}

.grid > * {
    width: 100%;
}

.grid-2x-2-1 {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.grid-1x, .grid-1x-10px {
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-1x-10px {
    gap: 10px;
}

.button-grid, .polar-grid {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.button-grid {
    justify-content: left;
    column-gap: 20px;
}

.polar-grid {
    justify-content: space-between;
}

@media (max-width: 850px) {
    .grid-2x-2-1 {
        grid-template-columns: 1fr;
    }
}