
<!-- ALERTAS -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}
            <div class="alert {{categoria}}">{{mensagem}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if formUser %}

    <form method="POST"
            hx-post="/registrar_secretaria/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        <div class="card-form table-section grid grid-1x">
            <div class="grid polar-grid">
                <h2>Cadastrar Secretária</h2> 
            </div>
        </div>
        {{ formUser.csrf_token }}

        <div class="grid grid-2x-1-3">

            <div class="input-group">
                {{ formUser.nome.label() }}
                {{ formUser.nome() }}
            </div>

             <div class="input-group">

            {{ formUser.sobrenome.label() }}
            {{ formUser.sobrenome() }}
            </div>

            <div class="input-group">
            {{ formUser.email.label() }}
            {{ formUser.email() }}
            {% for error in formUser.email.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
            </div>

            
            <div class="input-group">
                {{ formUser.senha.label() }}
                {{ formUser.senha() }}
            </div>

            <div class="input-group">
                {{ formUser.confirmacao_senha.label() }}
                {{ formUser.confirmacao_senha() }}
            </div>

            
            
            <div class="input-group">
                {{ formUser.tipo_usuario.label }}
                {{ formUser.tipo_usuario() }}
            </div>
        </div>

        {{ formUser.btnSubmit(class="button") }}
    </form> 

{% endif %}

{% if formSec %}


    <form method="POST"
            hx-post="/registrar_secretaria/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        {{ formSec.csrf_token }}
    
        {{ formSec.telefone.label }}
        {{ formSec.telefone() }}


        {{ formSec.email.label }}
        {{ formSec.email() }}


        {{ formSec.endereco.label }}
        {{ formSec.endereco() }}


        {{ formSec.website.label }}
        {{ formSec.website() }}

        {{ formSec.user_id.label }}
        {{ formSec.user_id() }}


        {{ formSec.submit() }}

    </form> 


{% endif %}
