
<!-- ALERTAS -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}
            <div class="alert {{categoria}}">{{mensagem}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if formUser %}

    <form method="POST"
            hx-post="/registrar_professor/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        {{ formUser.csrf_token }}

        {{ formUser.nome.label() }}
        {{ formUser.nome() }}

        {{ formUser.sobrenome.label() }}
        {{ formUser.sobrenome() }}

        {{ formUser.email.label() }}
        {{ formUser.email() }}
        {% for error in formUser.email.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}

        <br>
        <br>

        {{ formUser.senha.label() }}
        {{ formUser.senha() }}

        {{ formUser.confirmacao_senha.label() }}
        {{ formUser.confirmacao_senha() }}

        <br>
        <br>

        {{ formUser.tipo_usuario.label }}
        {{ formUser.tipo_usuario() }}

        {{ formUser.btnSubmit() }}
    </form> 

{% endif %}

{% if formProfessor %}


    <form 
        method="POST"
        hx-post="/registrar_professor/" 
        hx-target="#container-registro" 
        hx-swap="innerHTML">
        {{ formProfessor.csrf_token }}

        {{ formProfessor.cpf.label() }}
        {{ formProfessor.cpf() }}

        {{ formProfessor.telefone.label() }}
        {{ formProfessor.telefone() }}

        {{ formProfessor.email.label() }}
        {{ formProfessor.email() }}

        {{ formProfessor.endereco.label() }}
        {{ formProfessor.endereco() }}

        {{ formProfessor.formacao.label() }}
        {{ formProfessor.formacao() }}

        {{ formProfessor.turno.label() }}
        {{ formProfessor.turno() }}

        {{ formProfessor.nascimento.label() }}
        {{ formProfessor.nascimento() }}

        {{ formProfessor.user_id.label() }}
        {{ formProfessor.user_id() }}

        {{ formProfessor.status.label() }}
        {{ formProfessor.status() }}



        {{ formProfessor.btnSubmit() }}
    </form>

{% endif %}


<script>

</script>