
<form action="" method="post"  
        hx-post="/registrar_professor/" 
        hx-target="#container-registro" 
        hx-swap="innerHTML">
    <div class="card-form table-section grid grid-1x">
        <div class="grid polar-grid">
            <h2>Cadastrar Professor</h2> 
        </div>
    </div>


        <div class="grid grid-2x-1-3">
            {{ form.csrf_token }}

            <div class="input-group">
                {{ form.cpf.label() }}
                {{ form.cpf() }}
            </div>

            <div class="input-group">
                {{ form.telefone.label() }}
                {{ form.telefone() }}
            </div>

            <div class="input-group">
                {{ form.email.label() }}
                {{ form.email() }}
            </div>

            <div class="input-group">
                {{ form.endereco.label() }}
                {{ form.endereco() }}
            </div>

            <div class="input-group">
                {{ form.formacao.label() }}
                {{ form.formacao() }}
            </div>

            <div class="input-group">
                {{ form.turno.label() }}
                {{ form.turno() }}
            </div>
            
            <div class="input-group">
                {{ form.nascimento.label() }}
                {{ form.nascimento() }}
            </div>

            <div class="input-group">
                {{ form.user_id.label() }}
                {{ form.user_id() }}
            </div>

            <div class="input-group">
                {{ form.status.label() }}
                {{ form.status() }}
            </div>


        <div class="input-group">
            {{ form.cep.label() }}
            {{ form.cep(id="cep") }}
        </div>

        <div class="input-group">
            {{ form.rua.label() }}
            {{ form.rua(id="rua") }}
        </div>

        <div class="input-group">
            {{ form.numero.label() }}
            {{ form.numero(id="numero") }}
        </div>

        <div class="input-group">
            {{ form.bairro.label() }}
            {{ form.bairro(id="bairro") }}
        </div>

        <div class="input-group">
            {{ form.cidade.label() }}
            {{ form.cidade(id="cidade") }}
        </div>

        <div class="input-group">
            {{ form.estado.label() }}
            {{ form.estado(id="estado") }}
        </div>


        <div class="input-group">
            {{ form.cep.label() }}
            {{ form.cep(id="cep") }}
        </div>

        <div class="input-group">
            {{ form.rua.label() }}
            {{ form.rua(id="rua") }}
        </div>

        <div class="input-group">
            {{ form.numero.label() }}
            {{ form.numero(id="numero") }}
        </div>

        <div class="input-group">
            {{ form.bairro.label() }}
            {{ form.bairro(id="bairro") }}
        </div>

        <div class="input-group">
            {{ form.cidade.label() }}
            {{ form.cidade(id="cidade") }}
        </div>

        <div class="input-group">
            {{ form.estado.label() }}
            {{ form.estado(id="estado") }}
        </div>





        </div>
            {{ form.btnSubmit(class="button") }}
    </div>
</form>
