<div id="flash-messages">
    {% include 'partials/flash.html' %}
</div>

{% if formUser %}

    <div class="card-form table-section grid grid-1x">
        <div class="grid polar-grid">
            <h2>Cadastrar Secretaria</h2> 
        </div>    
        <button 
            hx-get="/form_user/" 
            hx-target="#form" 
            hx-swap="innerHTML">
            Cadastrar Professor
        </button>
    </div>

    <form id="form"
        method="POST"
        hx-post="/registrar_secretaria/" 
        hx-target="#container-registro" 
        hx-swap="innerHTML">
    </form>


{% endif %}

{% if formSec %}


    <form method="POST"
            hx-post="/registrar_secretaria/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        {{ formSec.csrf_token }}
    
        {{ formSec.telefone.label }}
        {{ formSec.telefone() }}


        {{ formSec.email.label }}
        {{ formSec.email() }}


        {{ formSec.endereco.label }}
        {{ formSec.endereco() }}


        {{ formSec.website.label }}
        {{ formSec.website() }}

        {{ formSec.user_id.label }}
        {{ formSec.user_id() }}


        {{ formSec.submit() }}

    </form> 


{% endif %}


<!-- FORM DE EDIÇÃO (IMPORTANTE) -->
<div id="container-form"></div>


<!--  FLASH -->
<div style="margin-top: 15px;"
    id="update_secretaria"  
    hx-get="/update_flash/"
    hx-trigger="mostrarFlash from:body"
    hx-swap="innerHTML">
</div>


<div 
    id="lista-secretarias"
    hx-get="/secretaria/lista/"
    hx-trigger="load, secretariaAtualizado from:body">
</div>