<h2>Cadastrar Aluno</h2>

<form method="GET" hx-get="/registrar_aluno/" 
      hx-target="#container-registro" 
      hx-swap="innerHTML">
    <div class="form">
        <input type="text" name="cpf" value="{{ request.args.get('cpf','') }}" placeholder="Digite o CPF do aluno">
        <button type="submit">Cadastrar</button>
    </div>
    
</form>

{% if cpf %}
    {% if msg %}
        <p style="color: red;"> {{ msg }} </p>
    {% else %}

        <h3>CPF: {{ request.args.get('cpf')  }}</h3>

        <form method="POST"
              hx-post="/registrar_aluno/" 
              hx-target="#container-registro" 
              hx-swap="innerHTML">
            {{ formAluno.csrf_token }}

            {{ formAluno.nome.label() }}
            {{ formAluno.nome() }}
            

            {{ formAluno.sobrenome.label() }}
            {{ formAluno.sobrenome() }}

            {{ formAluno.cpf.label() }}
            {{ formAluno.cpf(value=cpf or '')}}
            {% for error in formAluno.cpf.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}

            {{ formAluno.endereco.label() }}
            {{ formAluno.endereco() }}

            {{ formAluno.nascimento.label() }}
            {{ formAluno.nascimento() }}

            {{ formAluno.turma_id.label() }}
            {{ formAluno.turma_id() }}


            {{ formAluno.status.label() }}
            {{ formAluno.status() }}





            {{ formAluno.btnSubmit() }}
        </form>

        


    {% endif %}


{% endif %}