
<!-- ALERTAS -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}
            <div class="alert {{categoria}}">{{mensagem}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if formUser %}

    <form method="POST"
            hx-post="/registrar_secretaria/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        {{ formUser.csrf_token }}

        {{ formUser.nome.label() }}
        {{ formUser.nome() }}

        {{ formUser.sobrenome.label() }}
        {{ formUser.sobrenome() }}

        {{ formUser.email.label() }}
        {{ formUser.email() }}
        {% for error in formUser.email.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}

        <br>
        <br>

        {{ formUser.senha.label() }}
        {{ formUser.senha() }}

        {{ formUser.confirmacao_senha.label() }}
        {{ formUser.confirmacao_senha() }}

        <br>
        <br>

        {{ formUser.tipo_usuario.label }}
        {{ formUser.tipo_usuario() }}

        {{ formUser.btnSubmit() }}
    </form> 

{% endif %}

{% if formSec %}


    <form method="POST"
            hx-post="/registrar_secretaria/" 
            hx-target="#container-registro" 
            hx-swap="innerHTML">
        {{ formSec.csrf_token }}
    
        {{ formSec.telefone.label }}
        {{ formSec.telefone() }}


        {{ formSec.email.label }}
        {{ formSec.email() }}


        {{ formSec.endereco.label }}
        {{ formSec.endereco() }}


        {{ formSec.website.label }}
        {{ formSec.website() }}

        {{ formSec.user_id.label }}
        {{ formSec.user_id() }}


        {{ formSec.submit() }}

    </form> 


{% endif %}
