<form method="POST"
        hx-post="/registrar_professor/" 
        hx-target="#container-registro" 
        hx-swap="innerHTML">
    {{ form.csrf_token }}

    {{ form.cpf.label() }}
    {{ form.cpf() }}

    {{ form.telefone.label() }}
    {{ form.telefone() }}

    {{ form.email.label() }}
    {{ form.email() }}


    {{ form.formacao.label() }}
    {{ form.formacao() }}

    {{ form.turno.label() }}
    {{ form.turno() }}

    {{ form.nascimento.label() }}
    {{ form.nascimento() }}

    {{ form.user_id.label() }}
    {{ form.user_id() }}

    {{ form.status.label() }}
    {{ form.status() }}


     <div class="input-group">
        {{ form.cep.label() }}
        {{ form.cep(id="cep") }}
    </div>

    <div class="input-group">
        {{ form.rua.label() }}
        {{ form.rua(id="rua") }}
    </div>

    <div class="input-group">
        {{ form.numero.label() }}
        {{ form.numero(id="numero") }}
    </div>

    <div class="input-group">
        {{ form.bairro.label() }}
        {{ form.bairro(id="bairro") }}
    </div>

    <div class="input-group">
        {{ form.cidade.label() }}
        {{ form.cidade(id="cidade") }}
    </div>

    <div class="input-group">
        {{ form.estado.label() }}
        {{ form.estado(id="estado") }}
    </div>




    {{ form.btnSubmit() }}
</form>