<h2>Cadastrar Aluno</h2>

<form method="get">
    
    <input type="text" name="cpf" value="{{ request.args.get('cpf','') }}" placeholder="Digite o CPF do aluno">
    <button type="submit">Cadastrar</button>
</form>

{% if cpf %}
    {% if msg %}
        <p style="color: red;"> {{ msg }} </p>
    {% else %}

        <h3>CPF: {{ request.args.get('cpf')  }}</h3>

        <form style="display: flex; flex-direction: column;" action="" method="post">
            {{ formAluno.csrf_token }}

            {{ formAluno.nome.label() }}
            {{ formAluno.nome() }}
            

            {{ formAluno.sobrenome.label() }}
            {{ formAluno.sobrenome() }}

            {{ formAluno.cpf.label() }}
            {{ formAluno.cpf(value=request.args.get('cpf', '')) }}

            {{ formAluno.endereco.label() }}
            {{ formAluno.endereco() }}

            {{ formAluno.nascimento.label() }}
            {{ formAluno.nascimento() }}


            {{ formAluno.status.label() }}
            {{ formAluno.status() }}



            {{ formAluno.btnSubmit() }}
        </form>

        


    {% endif %}


{% endif %}