<h2>Cadastrar Aluno</h2>

<form method="GET" hx-get="/registrar_aluno/" 
      hx-target="#container-registro" 
      hx-swap="innerHTML">
    
    <input type="text" name="cpf" value="{{ request.args.get('cpf','') }}" placeholder="Digite o CPF do aluno">
    <button type="submit">Cadastrar</button>
</form>

{% if cpf %}
    {% if msg %}
        <p style="color: red;"> {{ msg }} </p>
    {% else %}

        <h3>CPF: {{ request.args.get('cpf')  }}</h3>

        <form hx-post="/registrar_aluno/" 
              hx-target="#container-registro" 
              hx-swap="innerHTML">
            {{ formAluno.csrf_token }}

            {{ formAluno.nome.label() }}
            {{ formAluno.nome() }}
            

            {{ formAluno.sobrenome.label() }}
            {{ formAluno.sobrenome() }}

            {{ formAluno.cpf.label() }}
            {{ formAluno.cpf(value=cpf or '')}}

            {{ formAluno.endereco.label() }}
            {{ formAluno.endereco() }}

            {{ formAluno.nascimento.label() }}
            {{ formAluno.nascimento() }}


            {{ formAluno.status.label() }}
            {{ formAluno.status() }}



            {{ formAluno.btnSubmit() }}
        </form>

        


    {% endif %}


{% endif %}