<table >
    <thead>
        <tr>
            <!-- <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th> -->
            <th>ID</th>
            <th>Nome</th>
            <th>E-email</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for resp in responsaveis %}
            <tr>
                <td>{{ resp.id }}</td>
                <td>{{ resp.user.nome}} {{ resp.user.sobrenome }}</td>
                <td>{{ resp.user.email }}</td>
                <td>{{ resp.telefone }}</td>
                <td > 
                    <a 
                        hx-get="{{ url_for('update_responsavel', id=resp.id) }}"
                        hx-target="#container-form"
                        hx-swap="innerHTML">
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination" style="margin-top: 15px;">

    {% if responsaveis.has_prev %}

        <a hx-get="{{ url_for('lista_responsavel', page=responsaveis.prev_num) }}"
            hx-target="#lista-responsaveis"
            hx-swap="innerHTML"

        >
            Anterior
        </a>
    {% endif %}

    Página {{ responsaveis.page }} de {{ responsaveis.pages }}

    {% if responsaveis.has_next %}
        <a hx-get="{{ url_for('lista_responsavel', page=responsaveis.next_num) }}"
            hx-target="#lista-responsaveis"
            hx-swap="innerHTML"
            
        >
            
            Próxima
        </a>
    {% endif %}

</div>






