<div class="card">
    <table class="tbl">
    <thead>
        <tr>
            <!-- <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th> -->
            <th>ID</th>
            <th>Nome</th>
            <th>E-email</th>
            <th>Telefone</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for resp in responsaveis %}
            <tr>
                <td>{{ resp.id }}</td>
                <td>
                    <div style="display:flex;align-items:center;gap:9px;">
                            <div class="av">
                                {{ resp.user.nome[0] }}{{ resp.user.sobrenome[0] if resp.user.sobrenome }}
                            </div>
                            {{ resp.user.nome}} {{ resp.user.sobrenome }}
                        </div>
                </td>
                <td>{{ resp.user.email }}</td>
                <td>{{ resp.telefone }}</td>
                <td > 
                    <a 
                        hx-get="{{ url_for('update_responsavel', id=resp.id) }}"
                        hx-target="#container-form"
                        hx-swap="innerHTML"
                        class="material">
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>


<div class="pagination" style="margin-top: 15px;">

    {% if responsaveis.has_prev %}

        <a hx-get="{{ url_for('lista_responsavel', page=responsaveis.prev_num) }}"
            hx-target="#lista-responsaveis"
            hx-swap="innerHTML"
            class="material"

        >
           arrow_back_ios_new
        </a>
    {% endif %}

    Página {{ responsaveis.page }} de {{ responsaveis.pages }}

    {% if responsaveis.has_next %}
        <a hx-get="{{ url_for('lista_responsavel', page=responsaveis.next_num) }}"
            hx-target="#lista-responsaveis"
            hx-swap="innerHTML"
            class="material"
            
        >
            
            arrow_forward_ios
        </a>
    {% endif %}

</div>






