
<form
    hx-post="/secretaria/update/{{ secretaria.id }}"
    hx-target="#container-form"
    hx-swap="innerHTML">
    <div class="grid grid-2x-1-3">
        {{ form.csrf_token }}

        <div class="input-group">
            {{ form.telefone.label() }}
            {{ form.telefone() }}
        </div>
    
        <div class="input-group">
            {{ form.endereco.label() }}
            {{ form.endereco() }}
        </div>

        <div class="input-group">
            {{ form.website.label() }}
            {{ form.website() }}
        </div>




    </div>

    <div class="check">


    </div>

        {{ form.submit(class="button") }}

    </div>
</form>
