<table >
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-email</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for sec_user in secretaria_users %}
            <tr>
                <td>{{ sec_user.id }}</td>
                <td>{{ sec_user.user.nome}} {{ sec_user.user.sobrenome }}</td>
                <td>{{ sec_user.user.email }}</td>
                <td>{{ sec_user.telefone }}</td>
                <td > 
                    <a 
                        hx-get="{{ url_for('update_secretaria', id=sec_user.id) }}"
                        hx-target="#container-form"
                        hx-swap="innerHTML">
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination" style="margin-top: 15px;">

    {% if secretaria_users.has_prev %}

        <a hx-get="{{ url_for('lista_secretaria', page=secretaria_users.prev_num) }}"
            hx-target="#lista-secretarias"
            hx-swap="innerHTML"

        >
            Anterior
        </a>
    {% endif %}

    Página {{ secretaria_users.page }} de {{ secretaria_users.pages }}

    {% if secretaria_users.has_next %}
        <a hx-get="{{ url_for('lista_secretaria', page=secretaria_users.next_num) }}"
            hx-target="#lista-secretarias"
            hx-swap="innerHTML"
            
        >
            
            Próxima
        </a>
    {% endif %}

</div>






