{% extends 'global/base.html' %}

{% block override_home %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/overrides/alertas.css') }}">
{% endblock %}

{% block content %}

<main class="main">


    <div class="topbar">
        <div>
            <div class="topbar-title">Alertas</div>
            <div class="topbar-sub">Notificações e configurações</div>
        </div>
    </div>


    <div class="content">

        <div class="grid grid2">

            <div class="card">
                <div class="card-head"><h2>Criar Aviso</h2></div>
                
                

                <form method="POST" class="form">
                    {{ form.hidden_tag() }}

                    <div class="grid grid-1x-10px">

                        <div class="grid2">
                            <div class="input-group">
                                {{ form.titulo.label }}
                                {{ form.titulo() }}
                            </div>
    
                            <div class="input-group">
                                {{ form.tipo.label }}
                                {{ form.tipo() }}
                            </div>
                        </div>

                    <div class="grid2">

                        <div class="input-group ">
                            <label>Turmas</label>

                            <div class="polar-grid user-row input-field"
                                style="cursor:pointer;">
                                <!-- opções -->
                                <select name="turmas" class="polar-grid subcard"  multiple size="1">
                                    <option value="">Selecionar Turmas</option>
                                    {% for value, label in form.turmas.choices %}
                                        <option name="turmas" value="{{ value }}">{{ label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="input-group">
                            <label>Alunos</label>

                            <div class="polar-grid user-row input-field"
                                style="cursor:pointer;">
                                <!-- opções -->
                                <select name="alunos" class="polar-grid subcard" multiple size="1">
                                    <option value="">Selecionar Alunos</option>
                                    {% for value, label in form.alunos.choices %}
                                        <option name="alunos" value="{{ value }}">{{ label}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                        <div class="input-group">
                            {{ form.mensagem.label }}
                            {{ form.mensagem() }}
                        </div>

                        <div class="input-group">
                            {{ form.data_envio.label }}
                            {{ form.data_envio() }}
                        </div>
                        <div >
                            
                            <label>Professores</label>

                            <!-- campo visual -->
                            <div class="polar-grid user-row input-field"
                                onclick="this.nextElementSibling.classList.toggle('hidden')"
                                style="cursor:pointer; background:var(--card);">

                                <span>Selecionar professores</span>
                                <span class="material">keyboard_arrow_down</span>
                            </div>

                            <!-- opções -->
                            <div class="grid grid-1x-5px hidden" style="margin-top:8px;">
                                {% for value, label in form.professores.choices %}
                                <label class="polar-grid subcard user-row" style="margin-bottom:5px; padding:10px 13px;">
                                    <span>{{ label }}</span>
                                    <input type="checkbox" name="professores" value="{{ value }}">
                                </label>
                                {% endfor %}
                            </div>

                        </div>
                        

                        <div class="input-group">
                            {{ form.prioridade.label }}
                            {{ form.prioridade() }}
                        </div>

                        <div>
                            {{ form.submit(class="btn-accent") }}
                        </div>

                    </div>
                </form>
            </div>

            <!-- Lista de Avisos -->
            <div class="card">
                <h2 class="card-head">Meus Avisos</h2>

                <div class="grid grid-1x-10px">

                    {% for aviso in avisos %}
                        <div class="card subcard">

                            <div class="alerta-grid grid3">
                                
                                <span class="material">
                                    {% if aviso.tipo.value == 'geral' %}
                                        book
                                    {% elif aviso.tipo.value == 'comportamento' %}
                                        warning
                                    {% elif aviso.tipo.value == 'saude' %}
                                        heart_plus
                                    {% elif aviso.tipo.value == 'administrativo' %}
                                        admin_panel_settings
                                    {% endif %}
                                </span>
                                
                                <div>
                                    <h3>{{ aviso.titulo }}</h3>
    
                                    <p>{{ aviso.mensagem }}</p>
                                </div>
                                <div>
                                    <small class="pill {{ 'pill-orange' if aviso.prioridade.value == 'media' 
                                    else 'pill-green' if aviso.prioridade.value == 'baixa' 
                                    else 'pill-red' if aviso.prioridade.value == 'alta'}}">
                                        {{ aviso.prioridade.value }}
                                    </small>
                                </div>
                            </div>


                        </div>
                    {% else %}
                        <p>Nenhum aviso cadastrado.</p>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

</main>
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>


{% endblock %}