{% extends 'global/base.html' %}

{% block override_home %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/overrides/docs.css') }}">
{% endblock %}


{% block content %} 
<main class="main">
    <div class="topbar">
      <div>
        <div class="topbar-title" id="topbarTitle">Solicitações</div>
        <div class="topbar-sub" id="topbarSub">Requerimentos e documentos</div>
      </div>
    </div>

    <div class="content docs-content">

        <div class="button-bar grid polar-grid">
            <button class="btn-outline" onclick="toggleLista('lista-entregues', this)"  hx-get="{{ url_for('lista_documentos') }}" hx-target="#lista-pendentes" hx-swap="innerHTML">
                    Todos <span class="count-badge">{{ total_todos }}</span>
            </button> <!-- TROCAR PARA TODOS DPS -->
            <button class="btn-outline" onclick="toggleLista('lista-entregues', this)"  hx-get="{{ url_for('lista_documentos', status='PENDENTE') }}" hx-target="#lista-pendentes" hx-swap="innerHTML">
                    Pendentes <span class="count-badge">{{ total_pendentes }}</span>
            </button>
            <button class="btn-outline" onclick="toggleLista('lista-entregues', this)"  hx-get="{{ url_for('lista_documentos', status='PRONTO') }}" hx-target="#lista-pendentes" hx-swap="innerHTML">
                    Pronto <span class="count-badge">{{ total_prontos }}</span>
            </button>
            <button class="btn-outline" onclick="toggleLista('lista-entregues', this)"  hx-get="{{ url_for('lista_documentos', status='ENTREGUE') }}" hx-target="#lista-pendentes" hx-swap="innerHTML">
                    Entregue <span class="count-badge">{{ total_entregues }}</span>
            </button>

        </div>

            
            <div id="lista-pendentes" class="tbl hidden"></div>
            
            
        <div id="lista-entregues" class="tbl hidden"></div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/docs.js') }}"></script>

{% endblock %}