{% extends 'global/base.html' %}
{% block content %} 
    <div class="card grid polar-grid">
        <h2>Documentos</h2>
    </div>

        <button class="btn btn-primary" hx-get="{{ url_for('lista_documentos', status='PENDENTE') }}" hx-target="#lista-pendentes" hx-swap="innerHTML">
            Documentos Pendentes
        </button>

        <div id="lista-pendentes"></div>

        <button class="btn btn-primary" hx-get="{{ url_for('lista_documentos', status='ENTREGUE') }}" hx-target="#lista-entregues" hx-swap="innerHTML">
            Documentos Entregues
        </button>

    <div id="lista-entregues"></div>

{% endblock %}