{% extends 'global/base.html' %}

{% block override_home %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/overrides/dashboard.css') }}">
{% endblock %}

{% block content %}
<main>



    <div class="topbar">
      <div>
        <div class="topbar-title" id="topbarTitle">Cadastros</div>
        <div class="topbar-sub" id="topbarSub">Gestão de cadastros de alunos</div>
      </div>
    </div>


    <!-- Select Mobile
    <div class="registro-mobile">
        <select id="registroSelect">
            <option value="">Selecione o tipo de registro</option>
            <option value="aluno">Registrar Aluno</option>
            <option value="responsavel">Registrar Responsável</option>
            <option value="professor">Registrar Professor</option>
            <option value="secretaria">Registrar Secretaria</option>
            <option value="turma">Registrar Turma</option>
        </select>
    </div> -->

    <!-- Cards -->
<div class="content">
    <div class="gestao-cards">

        <a class="card-accent gestao-card grid grid-1x"
           hx-get="{{ url_for('registrar_aluno') }}"
           hx-target="#container-registro"
           hx-swap="innerHTML">

            <h2>Registrar Aluno</h2>
            <span class="material">person_add</span>
        </a>

        <a class="card-accent gestao-card grid grid-1x"
           hx-get="{{ url_for('registrar_responsavel') }}"
           hx-target="#container-registro"
           hx-swap="innerHTML">

            <h2>Registrar Responsável</h2>
            <span class="material">person_add</span>
        </a>

        <a class="card-accent gestao-card grid grid-1x"
           hx-get="{{ url_for('registrar_professor') }}"
           hx-target="#container-registro"
           hx-swap="innerHTML">

            <h2>Registrar Professor</h2>
            <span class="material">person_add</span>
        </a>

        <a class="card-accent gestao-card  grid grid-1x"
           hx-get="{{ url_for('registrar_secretaria') }}"
           hx-target="#container-registro"
           hx-swap="innerHTML">

            <h2>Registrar Secretaria</h2>
            <span class="material">person_add</span>
        </a>

        <a class="card-accent gestao-card grid grid-1x"
           hx-get="{{ url_for('criar_turma') }}"
           hx-target="#container-registro"
           hx-swap="innerHTML">

           <h2>Registrar Turma</h2>
           <span class="material">groups</span>
        </a>

    </div>

    <!-- Conteúdo carregado via HTMX -->
    <div class="card grid button-grid" id="container-registro"></div>

    </div>
</main>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock %}