<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overrides/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>

<body class="login-page">

    <div class="login-card">
        
        <!-- LADO ESQUERDO -->
        <div class="login-left">
            
            <img class="sidebar-logo" src="{{ url_for('static', filename='media/logo.png') }}" alt="">
            
            
            <h1 class="login-title">Bem-vindo</h1>
            <p class="login-sub">Faça login com sua conta</p>

            <div class="custom-select" id="themeSelect">
                <div class="selected">Automático</div>

                <div class="options">
                    <div data-value="auto">Automático</div>
                    <div data-value="light">Claro</div>
                    <div data-value="dark">Escuro</div>
                </div>
            </div>

            <input type="hidden" id="theme" value="auto">

            <form action="" method="post" class="login-fields">
                {{ form.csrf_token }}

                <div class="input-group">
                    {{ form.email.label() }}
                    {{ form.email(placeholder="seunome@epass.com") }}
                </div>

                <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="input-group">
                    {{ form.senha.label() }}
                    {{ form.senha(placeholder="•••••••••") }}
                </div>

                <ul class="errors">
                    {% for error in form.senha.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

                <a href="" class="login-forgot">Esqueceu sua senha?</a>

                {{ form.btnSubmit(class="material btn-accent") }}
            </form>

        </div>

        <!-- LADO DIREITO -->
        <div class="login-right">
            
            <img class="right-image" src="{{ url_for('static', filename='media/image.png') }}">
            
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
</body>
</html>